*{
    margin: 0;
    padding: 0;
}
body{
  height: 100%;
  justify-content: center;
  text-align: center;
}
/*Index*/
/*header section*/
.indexHeader{
  background-color: #969696;
  height: 35px;
  width: 100%;
  text-align: left;
  text-transform:capitalize;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #ccc;
  color: #333;
}
/*header section--end*/
/*Container*/
.indexContainer{
  height: calc(100vh - 35px - 30px);
}
/*Login input section*/
.indexInputSection{
    margin-top: auto;
    align-items:center;
}
.indexLoginInput {
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 180ms ease-in-out;
}
.indexLoginInput:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}
/*Login input section--end*/
/*Container--end*/
/*Footer Section*/
.indexFooter{
  height: 30px;
  width: 100%;
  background-color: red;
  margin-top: auto;
}
/*Footer Section--end*/
/*Index--end*/